.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

* {
  box-sizing: border-box;
}

.row {
  background-color: rgb(182, 16, 16);
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.row .column {
  margin: 20px;

  padding: 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(124, 124, 124);
}

.column .title {
  font-size: calc(25px + 2vmin);
  min-height: 70px;
  color: white;
}

.column .body {
  color: white;
  text-align: left;

  font-size: calc(10px + 2vmin);
  width: 85%;
  margin: auto;
  padding-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(15px + 2vmin);
  color: white;
  padding: 0px 0px 10px 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
